body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #1f5c3a;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 45%;
}

a {
  color: green;
  text-decoration: none;
}

footer {
  background: #1f5c3a;
  color: white;
  text-align: center;
  padding: 10px;
}
